# IDEs
.idea/

# Hugo
resources/
public/
jsconfig.json
node_modules/
go.sum
.hugo_build.lock
assets/media/.DS_Store
assets/media/icons/.DS_Store
content/publication/CMPL_Audit/.DS_Store
.DS_Store
data/.DS_Store
static/.DS_Store
